* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  section[id] {
    padding-top: 5.5rem;
  }
}

img {
  max-width: 100%;
  display: block;
}

section[id] {
  scroll-margin-top: 110px;
}
