* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px;
}

body {
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

section[id] {
  scroll-margin-top: 110px;
}
